<div 
  class="bibtex collapsed"   
  xmlns:BibTeX="http://purl.oclc.org/NET/nknouf/ns/BibTeX" 
  typeof="BibTeX:article"
>
{% highlight bibtex %}
@article{doi/10.17613/syv8-cp10,
  doi = {10.17613/syv8-cp10},
  url = {https://hcommons.org/deposits/item/hc:54749/},
  author = {Saunders, Jonny L.},
  keywords = {AI Ethics, digital surveillance, information infrastructure, Knowledge Graphs, Large Language Models, Linked Data, Semantic Web},
  title = {Surveillance Graphs: Vulgarity and Cloud Orthodoxy in Linked Data Infrastructures},
  publisher = {hcommons},
  year = {2023},
  copyright = {Creative Commons Attribution Share Alike 4.0 International}
}	
{% endhighlight %}
</div>