<div class="foreword" markdown="1">
  This piece is an extension of [*"Linked Data or Surveillance Capitalism"*](https://jon-e.net/infrastructure/#linked-data-or-surveillance-capitalism) in [**Decentralized Infrastructure for (Neuro)science**](https://jon-e.net/infrastructure/) {% cite saundersDecentralizedInfrastructureNeuro2022 %} and reproduces text from (sections) in whole or in part. 

  This document is the first in a series specifically addressing some of the topics in Decentralized Infrastructure in more focused detail.

  Feedback, contribution, and criticism are welcome! Particularly if I missed a citation or have gotten something wrong.

  The document is currently in a pre-release phase and is in very rough condition! If you make annotations on this document right now, the underlying text may change, which then will make hypothes.is load slower later. I wish I had more time to fix this, but it's a weird combination bug between the citation generator and hypothes.is :(
</div>