<div class="foreword" markdown="1">
  This piece is an extension of [*"Linked Data or Surveillance Capitalism"*](https://jon-e.net/infrastructure/#linked-data-or-surveillance-capitalism) in [**Decentralized Infrastructure for (Neuro)science**](https://jon-e.net/infrastructure/) {% cite saundersDecentralizedInfrastructureNeuro2022 %} and reproduces text from (sections) in whole or in part. 

  This document is the first in a series specifically addressing some of the topics in Decentralized Infrastructure in more focused detail.

  Feedback, contribution, and criticism are welcome! Particularly if I missed a citation or have gotten something wrong.

  The document is currently in a pre-release phase, and I ask that you **please make hypothes.is annotations (select any text, click annotate!) in the [draft](/surveillance-graphs/draft.html) document** - there isn't a good way to clean up annotations, and if the underlying text changes (eg. after copy editing) then the annotations will land in a random place and make the page load extremely slowly :(.
</div>