<meta name="citation_title" content="{{ page.title }}">
{% for author in page.author %}
<meta name="citation_author" content="{{ author.name }}">
{% endfor %}
<meta name="citation_publication_date" content="{{ page.date }}">
<meta name="citation_date" content="{{ page.date }}">
<meta name="citation_abstract" content="{{ page.abstract }}">
{% if page.doi %}
<meta name="citation_doi" content="{{ page.doi }}">
{% endif %}
{% if page.canonical_url %}
<meta name="citation_public_url" content="{{ page.canonical_url }}">
{% endif %}
{% if page.pdf %}
<meta name="citation_pdf_url" content="{{ page.pdf | absolute_url }}">
{% endif %}
{% if page.keywords %}
<meta name="citation_keywords" content="{{ page.keywords | join: ";" }}">
{% endif %}
