* {
  @include box-sizing;
  line-height: 1.3;
}



html,
body {
  margin: 0;
}

html {
  font-family: $serif-primary;
  font-size: 18px;
  overflow-y: scroll;

  @media (max-width: $width-tablet) {
    font-size: 18px;
  }
}

// dark mode handling
body {
  --text-color: #{$default-color};
  --text-shade: #{$default-shade};
  --bg-color: #{$white};
  --link-color: #{$purple};


  &.dark-theme {
    --text-color: #{$grey-2};
    --text-shade: #{$grey-15};
    --bg-color: #{$background-dark};
    --link-color: #{$purple-lighter};
  }
}

// @media (prefers-color-scheme: dark){
//   body {
//     --text-color: #{$grey-2};
//     --text-shade: #{$grey-15};
//     --bg-color: #{$background-dark};
//     --link-color: #{$purple-lighter};

//     &.light-theme {
//       --text-color: #{$default-color};
//       --text-shade: #{$default-shade};
//       --bg-color: #{$white};
//       --link-color: #{$purple};
//     }
//   }
// }

body {
  -webkit-text-size-adjust: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 0 30% 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: var(--link-color);
  text-decoration: none;

  // &:visited {
  //   color: $purple-darker;
  // }
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-0;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p {
    margin: 0 0 0.5rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 0rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
