#acknowledgements {
	padding: 0 2em;
	border-left: 1px solid gray;
	color: $grey-0;
	font-style: italic;

	h2 {
		font-style: italic;
		color: $grey-0;
		font-weight: 200;
	}

	.name {
		font-weight: 700;
	}
}