---
layout: default
---
<div class="post">
    <div class="post-info">
        <h1 class="post-title" property="title">{{ page.title }}</h1>
        
        {% if page.subtitle %}
          <h2 class="post-subtitle">{{ page.subtitle }}</h2>
        {% endif %}

        <div class="post-line"></div>

        {% if page.author %}
        <div id='authors'>
          {% for author in page.author %}
          {% assign idx = forloop.index %}
          <span property="author" resource="#au:{{ author.name | slugify: "ascii" }}" typeof="Person">
            <span class="post-author" property="name">{{ author.name }}</span>
           {% if author.affiliation %}
            <a href="#affil-{{author.name | slugify: "ascii" }}">
                <sup>{{ idx }}</sup>
            </a>
            {% endif %}
            {% if author.email %}
            <span property="email" content="{{ author.email }}"> 
            <a href="mailto:{{ author.email }}">
                ✉
            </a>
            </span>
            {% endif %}
          </span>
          {% endfor %}
        </div>
        {% else %}
          <span class="post-author">{{ site.author.name }}</span>
        {% endif %}

        {% if page.author %}
        <div id="affiliations">
            {% for author in page.author %}
            {% assign idx = forloop.index %}
            {% if author.affiliation %}
            <span class="author-affiliations" resource="#au:{{ author.name | slugify: "ascii" }}"></span>
            <sup>{{ idx }} </sup>
            {% for affil in author.affiliation %}
                <span class="affiliation" property="affiliation">{{ affil }}</span>{% if forloop.index < forloop.length %},{% endif %}
            {% endfor %}
            </span>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {% if page.date %}
        <div class="post-date">
            <span>First Published &nbsp;</span>
            <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </div>
        {% endif %}

        {% capture time %}{{ content | reading_time }}{% endcapture %}
        {% capture words %}{{ content | count_words }}{% endcapture %}

        <div class="post-date">
            <span>Rendered: </span>
            <time datetime="{{ site.time | date: "%Y-%M-%d"}}"> {{ site.time | date: "%Y-%m-%d" }}</time>
            {% if site.versioned %} - <span style="color:#444; font-style:none">permalink:</span> <a href="/infrastructure/versions/{{ site.data['hash'] }}"><code>{{ site.data['hash'] }}</code></a> 
            {% endif %}
            {% if page.pdf_link %} - <a href="{{ page.pdf_link }}"><code>PDF VERSION</code></a> {% endif %}

        </div>

        <div class="wordcount">
            <p>Estimated Reading Time: {{ time }} minutes (<span property="wordCount">{{ words }}</span> words)</p>
        </div>

    </div>
    {% if page.abstract %}
        <div class="abstract" property="abstract">
            {{ page.abstract }}
        </div>
    {% endif %}


    <div property="articleBody">
    {{ content }}
    </div>

    {% if page.bibliography == true %}
    {% bibliography --cited %}
    {% endif %}


</div>
<!-- 
<div class="nav-container">
<nav>
  {{ content | toc_only }}
</nav>
</div> -->